* {
    font-family: 'Wix Madefor Display', sans-serif;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    text-decoration: underline;
    color: #CF4DCE;
}

.nav-active {
    color: #FF8B13;
}


.footer {
    background-color: #f7e0f5;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.website-name {
    color: #CF4DCE;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.email-prompt {
    font-size: 16px;
    margin-bottom: 5px;
}

.email-input {
    background-color: transparent;
    border: 2px solid #FF8B13;
    outline: none;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.email-input::placeholder {
    color: orange;
}

.email-button {
    padding: 5px 10px;
    background-color: #FF8B13;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.right-section {
    background-color: inherit;
    font-weight: bold;
    color: black;
}

.contact-list {
    list-style-type: disc;
    color: purple;
    padding-left: 20px;

}

.contact-heading {
    font-size: 25px;
    margin-bottom: 10px;
    color: #FF8B13;
}

.box-section {
    padding: 20px;
    position: relative;
}

.diet:hover {
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgb(248, 36, 226);
    padding: 20px;
    cursor: pointer;
}

.exercise:hover {
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgb(255, 132, 0);
    padding: 20px;
    cursor: pointer;
}


.box-section img {
    width: 220px;
    height: 200px;
}

.box-section h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.box-section p {
    font-size: 16px;
    margin-bottom: 20px;
}


.collapse-state {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}


.collapsed .collapse-content {
    display: none;
}

td:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    border-left: 2px solid #ccc;
}



.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}






/* Plans Style */
.container {
    padding-top: 30px;
}

.card-package {
    padding: 20px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: all 0.3s ease;
}

.card-package:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.btn-package {
    background-color: purple;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-package:hover {
    background-color: #800080;
}

.btn-orange {
    background-color: orange;
    color: white;
}

.btn-orange:hover {
    background-color: #ff8c00;
}

.form-control:disabled {
    background-color: #f8f9fa;
    cursor: not-allowed;
}

.carousel-inner {
    height: 800px;
    background-color: #f3c4f3;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.carousel-inner h1{
    padding: 300px 0px 50px 0px;
    font-family: ubuntu;
}